<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <style>
      .row {
        margin-right: 0px;
      }
    </style>
  </head>
  <body class="container bg-dark">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="row">
        <div class="col-7">
          <div class="jumbotron mt-3 bg-danger text-white">
            <h1>About Me</h1>
            <p>
              I am currently doing Summer Internship from Nagarro, Here are the
              list of projects i have done so far, using different web
              technologies that i have learned from this Summer Internship.
            </p>
          </div>
        </div>

        <div class="col-5 mt-5">
          <div class="jumbotron bg-info">
            <h3 class="text-center text-white font-weight-bold">
              From Central University of Haryana
            </h3>
          </div>
        </div>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
