<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container bg-dark">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron mt-3 bg-danger text-white">
        <h1>Hello, I am <%= name %></h1>
        <p class="font-weight-bold">Here I am showing a EJS template using Node-Express Server.</p>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
